* {
  box-sizing: border-box;
}

body {
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.startScreen {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  border: 5px solid white;
  background-color: transparent;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

#startSubHead {
  font-size: 0.7em
}

.endScreen {
  display: none;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  border: 5px solid white;
  background-color: transparent;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

#endSubHead {
  font-size: 0.7em
}

.scoreBoardName {
  text-align: left;
}
.scoreBoardScore {
  width: 25%;
  max-width: 25%;
  float: right;
  text-align: right;
}

button {
  font-family: 'Press Start 2P', cursive;
  color: white;
  border: 5px solid white;
  background-color: transparent;
  padding: 10px;
}

button:focus {
  outline: none;
}

input {
  outline: none;
  border: none;
  border-bottom: 5px solid white;
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: transparent;
  margin: 20px 0;
  font-size: 1em;
  max-width: 80%
}

input:focus {
  outline: none;
}

.gameTrackers {
  display: none;
  justify-content: space-between;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

.grid {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
  margin: auto;
}

.grid div {
  flex-grow: 1;
  height: 30px;
  width: 30px;
  cursor: none;
}

img.playerLives {
  content: url("../assets/playerShip3_blue.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 25px;
  width: 25px;
  margin: 0 5px;
}
//
.grid div.player {
background-image: url("../assets/playerShip3_blue.png");
background-repeat: no-repeat;
background-size: 100%;
transform: scale(1.5);
}

.grid div.laser {
  background-image: url("../assets/laserRed01.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.explosion {
  background-image: url("../assets/explosion.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.alienLaser {
  background-image: url("../assets/laserGreen11.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.aliens1 {
  background-image: url("../assets/enemyRed1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.grid div.aliens2 {
  background-image: url("../assets/enemyGreen2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.grid div.aliens3 {
  background-image: url("../assets/enemyBlack3.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.grid div.mothership {
  background-image: url("../assets/Mothership.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

//ANIMATIONS

.flash {
   animation-name: flash;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: white;}
    to {color: dodgerblue;}
}
